body {
    background-image: url(https://img.freepik.com/foto-gratis/pano-cocina-mesa-madera_74190-7685.jpg?w=2000);
}
h1 {
    color: rgb(128, 64, 0);
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgba(233, 229, 196, 0.945);
    padding: 50px;
    border: 5px solid rgb(219, 8, 8);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
.divClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}